pkgbase = antigravity-ide-bin
	pkgdesc = Google Antigravity IDE - AI-powered integrated development environment (Pre-built Binary)
	pkgver = 2.5.5.4923483625488384
	pkgrel = 3
	url = https://antigravity.google/
	arch = x86_64
	license = Proprietary
	makedepends = curl
	depends = alsa-lib
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = libsecret
	depends = electron39
	provides = antigravity-ide
	conflicts = antigravity-ide
	options = !strip

pkgname = antigravity-ide-bin
